# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.synctex(busy)
*.lof
*.lot

# Compiled files
/*.pdf

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# VSCode & Cursor
.vscode/*
.cursor/*
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Editor backup files
*~
*.bak 